<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Home</title>
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename ='images/job-icon.png')}}" />
</head>
<body>
<div class="split left">
  <div class="card">
    <img src="{{url_for('static', filename ='images/register_img.png')}}" style="width:90%">
    <h1>Registration</h1>
    <p text-align="center">Register in the job portal to get weekly updates on the latest job opening from us. The job postings
      will be sent to your registered email id.</p>
    <p class="fee">No Registration Fee</p>
  </div>
</div>
<div class="top">
  <p></p>
</div>
<div class="centered">
  <h1 style="font-family: Papyrus;color:white">Career Home Portal</h1>
  <h4 style="color:white">Please fill in your details</h4>
  <form action="/register" method="post">
    <div>
      <input id="fullName" name="fullName" placeholder="Full Name" type="text" size="40" maxlength="50" required="required">
    </div>
    <hr class = "rounded"/>
    <div>
      <input type="email" id="email" name="email" placeholder="Email" size="40" required="required" maxlength="60">
    </div>
    <hr class = "rounded"/>
    <div>
      <input type="text" id="mobile" name="mobile" placeholder="Mobile Number"  required="required" size="40" pattern="\d*" maxlength="10">
    </div>
    <hr class = "rounded"/>
    <div>
      <select id="skill" name="skill" >
        <option value="NA" selected >Choose a skill </option>
        <option value="medical">Medical</option>
        <option value="python">Python</option>
        <option value="trade">Trading</option>
      </select>
    </div>
    <hr class = "rounded"/>
    <div>
      <input id="experience" name="experience" placeholder="Experience in years (provide range, e.x. 5-6)" required="required" type="text" size="40">
    </div>
    <hr class = "rounded"/>
    <div class="reg">
      <button type="submit">Register</button>
    </div>
  </form>
  <br/><br/><br/>
</div>
<br/>
<div class="footer">
  <p>&copy; All rights reserved 2022</p>
</div>
<div class="split right">
  <div class="card">
    <img src="{{url_for('static', filename ='images/about-us.png')}}" style="width:90%">
    <h1>About Us</h1>
    <p text-align="center">We, at Career Home help people to find jobs at much easier and faster rate by providing them
    the latest job opening links on their selected skills.</p>
    <p class="fee">Build your career with us</p>
  </div>
</div>
</body>
</html>